<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trinocular Logs</title>
    <link rel="stylesheet" href="/{{serviceName}}/static/styles.css">
</head>
<body>

    {{{body}}}

</body>
</html>
