stages:          # List of stages for jobs, and their order of execution
  - cache-images
  - build
#  - unit-test

.image_names: &image_names # Image name must match folder name of service
  - "api-bridge"
  - "auth"
  - "ci-test"
  - "fluentbit"
  - "frontend"
  - "logs"
  - "nginx"
  - "registry"
  - "repo"
  - "scheduler"
  - "visualization-commits"
  - "visualization-demo"
  - "visualization-issues"
  - "visualization-pipelines"
  - "visualization-time-spent"

variables:
  WORKDIR: "/app"   # Define a variable that can be used in all jobs
  POSTGRES_DB: test_db
  POSTGRES_USER: test_db_user
  POSTGRES_PASSWORD: test_pass
  POSTGRES_HOST_AUTH_METHOD: trust


cache-images:
  stage: cache-images
  image:
    name: gcr.io/kaniko-project/executor:v1.24.0-debug
    entrypoint: [""]
  script:
    - echo "Caching docker images to ${CI_REGISTRY_IMAGE}"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"},\"$CI_DEPENDENCY_PROXY_SERVER\":{\"auth\":\"$(printf "%s:%s" ${CI_DEPENDENCY_PROXY_USER} "${CI_DEPENDENCY_PROXY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    # For now we are only caching the node image as we get rate limited on this one all the time
    - echo "FROM node:current-alpine" > Dockerfile
    - /kaniko/executor
      --context .
      --dockerfile Dockerfile
      --destination "${CI_REGISTRY_IMAGE}/node:current-alpine"
      --single-snapshot

# build-test-image:       # This job runs in the build stage, which runs first.
#   stage: build
#   image: 
#     name: gcr.io/kaniko-project/executor:v1.24.0-debug
#     entrypoint: [""]
#   script:
#     - echo "Building test docker images"
#     - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:test-${CI_PIPELINE_ID}"
#   parallel:
#     matrix:
#       - IMAGE_NAME: *image_names

build-k8s-image:       # This job runs in the build stage, which runs first.
  stage: build
  image: 
    name: gcr.io/kaniko-project/executor:v1.24.0-debug
    entrypoint: [""]
  script:
    - echo "Building k8s docker images"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"},\"$CI_DEPENDENCY_PROXY_SERVER\":{\"auth\":\"$(printf "%s:%s" ${CI_DEPENDENCY_PROXY_USER} "${CI_DEPENDENCY_PROXY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    # In case the image uses the node image make sure to use the cached version from the CI registry
    - sed -i "s|^FROM node:current-alpine|FROM ${CI_REGISTRY_IMAGE}/node:current-alpine|" "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:latest"
  parallel:
    matrix:
      - IMAGE_NAME: *image_names


# unit-test:   # This job runs in the test stage.
#  stage: unit-test    # It only starts when the job in the build stage completes successfully.
#  services:
#    - postgres
#  image:
#    name: "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:test-${CI_PIPELINE_ID}"
#    entrypoint: [""]
#  before_script:
#    - | 
#      if [ -f "$CI_PROJECT_DIR/src/${IMAGE_NAME}/.env_test" ]; then
#        # Export variables from the .env file
#        export $(grep -v '#' "$CI_PROJECT_DIR/src/${IMAGE_NAME}/.env_test" | xargs);
#      else
#        echo ".env file not found!";
#      fi
#    - cd $WORKDIR
#  script:
#    - npm test
#  parallel:
#    matrix:
#      - IMAGE_NAME: *image_names
