stages:          # List of stages for jobs, and their order of execution
#  - build
  - deploy
#  - unit-test

.image_names: &image_names # Image name must match folder name of service
  - "api-bridge"
  - "auth"
  - "ci-test"
  - "fluentbit"
  - "frontend"
  - "logs"
  - "nginx"
  - "registry"
  - "repo"
  - "scheduler"
  - "visualization-commits"
  - "visualization-demo"
  - "visualization-issues"
  - "visualization-pipelines"
  - "visualization-time-spent"

variables:
  WORKDIR: "/app"   # Define a variable that can be used in all jobs
  POSTGRES_DB: test_db
  POSTGRES_USER: test_db_user
  POSTGRES_PASSWORD: test_pass
  POSTGRES_HOST_AUTH_METHOD: trust


# build-test-image:       # This job runs in the build stage, which runs first.
#   stage: build
#   image: 
#     name: gcr.io/kaniko-project/executor:v1.24.0-debug
#     entrypoint: [""]
#   script:
#     - echo "Building test docker images"
#     - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(echo -n ${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD} | base64)\"}}}" > /kaniko/.docker/config.json
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:test-${CI_PIPELINE_ID}"
#   parallel:
#     matrix:
#       - IMAGE_NAME: *image_names

# build-k8s-image:       # This job runs in the build stage, which runs first.
#   stage: build
#   image: 
#     name: gcr.io/kaniko-project/executor:v1.24.0-debug
#     entrypoint: [""]
#   script:
#     - echo "Building k8s docker images"
#     - echo "CI mirror registry is at ${CI_MIRROR_REGISTRY}"
#     - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"},\"$CI_DEPENDENCY_PROXY_SERVER\":{\"auth\":\"$(printf "%s:%s" ${CI_DEPENDENCY_PROXY_USER} "${CI_DEPENDENCY_PROXY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
#     # Prefix the image names with the URL to the CI mirror registry so we do not pull from docker hub
#     # and risk getting rate limited
#     - sed -i -E "s|^FROM[[:space:]]+([^[:space:]]+)|FROM ${CI_MIRROR_REGISTRY}/\1|" "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
#     - /kaniko/executor
#       --context "${CI_PROJECT_DIR}"
#       --dockerfile "${CI_PROJECT_DIR}/src/${IMAGE_NAME}/Dockerfile"
#       --destination "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:${CI_PIPELINE_ID}"
#   parallel:
#     matrix:
#       - IMAGE_NAME: *image_names


# unit-test:   # This job runs in the test stage.
#  stage: unit-test    # It only starts when the job in the build stage completes successfully.
#  services:
#    - postgres
#  image:
#    name: "${CI_REGISTRY_IMAGE}/${IMAGE_NAME}:test-${CI_PIPELINE_ID}"
#    entrypoint: [""]
#  before_script:
#    - | 
#      if [ -f "$CI_PROJECT_DIR/src/${IMAGE_NAME}/.env_test" ]; then
#        # Export variables from the .env file
#        export $(grep -v '#' "$CI_PROJECT_DIR/src/${IMAGE_NAME}/.env_test" | xargs);
#      else
#        echo ".env file not found!";
#      fi
#    - cd $WORKDIR
#  script:
#    - npm test
#  parallel:
#    matrix:
#      - IMAGE_NAME: *image_names

deploy:
  stage: deploy
  image: bitnami/kubectl
  tags:
    - k8s
  script:
    # Set the values from the CI variables
    - >
      for originalfile in "${CI_PROJECT_DIR}"/k8s/*.yaml; do
        echo "Setting CI variables in '$originalfile'"
        tmpfile=$(mktemp)
        cp --attributes-only --preserve $originalfile $tmpfile
        cat $originalfile | envsubst > $tmpfile && mv $tmpfile $originalfile
        echo "Done with file '$originalfile'"
        cat $originalfile
      done
    # - kubectl apply -f "${CI_PROJECT_DIR}/k8s"
#  only:
#    - master

