
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: Add visualization service title -->
    <title>Visualization Demo</title>

    <link rel="stylesheet" href="{{ baseURL }}/styles.css">
    <!-- Graph library, could be exchanged to whatever library needed/wanted to create charts -->
    <script src="/static/chart-js/chart.js"></script>
    <!-- Moment.js is a library that helps to work with dates and times in JavaScript -->
    <script src="/static/chart-js/moment.min.js"></script>
    <script src="/static/chart-js/chartjs-adapter-moment.min.js"></script>
    <script src="{{ baseURL }}/main.js" type="module" defer></script>
  </head>
  <body>
    <!-- TODO: Add a title to the visualization -->
    <h2 class="vis-title">demo</h2>
    <h3 id="vis-subtitle" class="vis-subtitle">Specific Chart Title</h3>
    <div id="chart"><canvas></canvas></div>

  </body>
</html>
