
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization Demo</title>

    <link rel="stylesheet" href="{{ baseURL }}/styles.css">
    <script src="{{ baseURL }}/main.js" type="module" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <h2 id="vis-title" class="vis-title">Time-spent visualizations</h2>
    <h3 id="vis-subtitle" class="vis-subtitle">Specific Chart Title</h3>
    <div id="chart"></div>
  </body>
</html>
