
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif
}

nav.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 2rem;
  gap: 1rem;

  .spacer {
    flex-grow: 1;
  }
}

input, select {
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 5px;

  /* &:invalid {
    outline: 2px solid #ed6262;
  } */
}

button.icon, a.icon {
  display: flex;
  background: none;
  border: none;
  outline: none;
  padding: 2px;
  margin: 0;
  border-radius: 3px;
  text-decoration: none;

  &:hover {
    background: #a5a5a561;
    cursor: pointer;
  }
}

img.icon, button.icon > img, a.icon > img {
  width: 1.5rem;
}

main.centered-boxes-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
  }

  .centered-box {
    min-width: 20rem;
    margin-bottom: 2rem;
    background: #e6ebed;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

/** Error Box **/

.error-box {
  background: #ff7575;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .content {
    max-width: 40rem;
    text-align: center;
  }
}

/** Dialog box **/

dialog {
  border: 1px solid grey;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 4px 1px #59595947;

  & > form {
    padding: 1.5rem;
  }

  .close-icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  &[open] {

  }
}

/** Home Page **/

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main.home {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: url(/static/home-background.svg);
  background-position: bottom;
  background-repeat: repeat-x;

  & > div {
    margin-top: 15vh;
    padding: 2rem 6rem;
    backdrop-filter: blur(3px);
    border-radius: 2rem;
    text-align: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  a, a:visited, a:active {
    color: black;
    text-decoration: underline;
  }
}

footer.home {
  padding: 6rem 2rem 3rem 2rem;
  background: linear-gradient(180deg, #8087ff, #3e54a9);
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;

  a, a:visited, a:active {
    color: white;
    text-decoration: underline;
  }
}

/** Repos Page **/

main.repos {
  .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  section {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      padding: 10px;
      border-bottom: 1px solid #c5c6cb;
      gap: 1rem;

      &:last-child {
        border-bottom: none;
      }
    }

    .color-circle {
      background-color: #bababa;
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
    }

    .name {
      flex-grow: 1;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li.inactive .name a {
      color: #636363;
    }

    .settings-link > a {
      text-decoration: none;
    }
  }
}

/** Dashboard Page **/

div.dashboard-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}

main.dashboard {
  flex-grow: 1;

  & > iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
  }
}

nav.dashboard {
  padding: 1rem 1.5rem;
  background-color: #e6ebed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;

    .spacer {
      flex-grow: 1;
    }
  }

  & > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  h1 {
    margin: 0;
  }

  select {
    width: 100%;
  }

  & > section form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }

  &.collapsed {
    padding: 1rem 0.5rem;

    & > :not(.buttons) {
      display: none;
    }
  }

  /* Toggle the buttons when showing/hiding */

  .show-icon {
    display: none;
  }

  &.collapsed {
    .buttons {
      gap: 0;
    }

    .buttons a {
      display: none;
    }

    .hide-icon {
      display: none;
    }

    .show-icon {
      display: block;
    }
  }


  #contributors-section {
    max-height: 25rem;
    overflow-y: auto;
    max-width: 20rem;
  }

  /* Styling for contributor lists */

  #author-list {
    --display-empty-member-groups: block;

    .member-group {
      display: block;
      margin-bottom: 0.5rem;
    }

    .member-group:not(:has(.contributor)) {
      display: var(--display-empty-member-groups);
    }
  }

  .member-name {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    padding: 0.125rem;
  }

  .contributor {
    font-size: 0.7rem;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 0.25rem;
    background-color: #f9f9f9;
    /* cursor: move; */

    :hover {
      background-color: #f1f1f1;
    }
  }
}


/* Merge Authors Modal/Dialog */

#merge-authors-dialog {
  .merge-area {
    max-height: 35rem;
    overflow-y: auto;
  }

  .member-name {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.125rem;
  }

  .contributor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 0.8rem;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 0.5rem 1rem;
    background-color: #f9f9f9;
    cursor: move;

    &.placeholder {
      border: 2px dashed #bbb;
      margin-bottom: 10px;
      background-color: #f0f0f0;

      &:not(:only-child) {
        display: none;
      }
    }
  }

  .dragging {
    background-color: #ddd;
  }

  .drag-handle {
    cursor: move;
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
    border-radius: 3px;
  }

  .drag-handle:hover {
    background-color: #bbb;
  }

  .merge-active .contributor {
    border: 2px solid #28a745;
    background-color: #e8f5e8;
  }
}

/** Settings Page **/

main.settings {
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  form {
    margin-bottom: 3rem;
  }

  fieldset {
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 16rem auto;
    justify-items: left;
  }

  .multi-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .description {
    grid-column: span 2;
    margin-top: 0.2rem;
    margin-bottom: 1.4rem;
    font-size: 0.9em;
    color: #777777;
  }

  button {
    display: block;
    margin-left: auto;
  }

  #repo-cadence-value-field {
    max-width: 3.7rem;
    text-align: right;
  }
}

/** DB Viewer **/

main.db-viewer {
  padding: 1rem;

  article {
    margin-bottom: 4rem;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 0.3rem;
  }

  thead td {
    text-align: center;
  }
}

/** New Repo **/

main.new {
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 15rem;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    label {
      font-size: 0.9em;
    }

    button {
      align-self: end;
    }
  }

  .error-box .content {
    max-width: 20rem;
  }
}

/** Wait for repo importing **/

@keyframes barberpole {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

main.wait-for-repo {
  padding-top: 3rem;

  h1 {
    max-width: 25rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem;
  }

  .loading-bar {
    margin: 2rem 0;

    & > div {
      height: 12px;
      background: repeating-linear-gradient(
        45deg,
        #d3d3d3 0px,
        #d3d3d3 10px,
        #5d5d5d 10px,
        #5d5d5d 20px
      );
      border-radius: 50px;
      background-size: 200% 200%;
      animation: barberpole 8s linear infinite;
    }
  }
}

/** Error Page **/

main.error {
  & > div {
    max-width: 45rem;
    margin: 5rem auto;
    text-align: center;
  }

  p:has(code) {
      text-align: left;
  }
}
