
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif
}

nav.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 2rem;
  gap: 1rem;

  .spacer {
    flex-grow: 1;
  }
}

input, select {
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 5px;

  /* &:invalid {
    outline: 2px solid #ed6262;
  } */
}

main.centered-boxes-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
  }

  .centered-box {
    min-width: 20rem;
    margin-bottom: 2rem;
    background: #e6ebed;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

/** Repos Page **/

main.repos {
  .title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  section {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: flex;
      flex-direction: row;
      padding: 10px;
      border-bottom: 1px solid #c5c6cb;
      gap: 1rem;

      &:last-child {
        border-bottom: none;
      }
    }

    .color-circle {
      background-color: #bababa;
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 1rem;
    }

    .name {
      flex-grow: 1;

      a {
        color: black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    li.inactive .name a {
      color: #636363;
    }

    .settings-link > a {
      text-decoration: none;
    }
  }
}

/** Dashboard Page **/

div.dashboard-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}

main.dashboard {
  flex-grow: 1;

  & > iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
  }
}

nav.dashboard {
  padding: 1rem 1.5rem;
  background-color: #e6ebed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5rem;

  .hide-button {
    display: block;
    background: none;
    border: 1px solid grey;
    outline: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    color: grey;
    font-weight: bold;
  }

  & > .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  h1 {
    margin: 0;
  }

  select {
    width: 100%;
  }

  & > section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}


/** Settings Page **/

main.settings {
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  form {
    margin-bottom: 3rem;
  }

  fieldset {
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: 16rem auto;
    justify-items: left;
  }

  .description {
    grid-column: span 2;
    margin-top: 0.2rem;
    margin-bottom: 1.4rem;
    font-size: 0.9em;
    color: #777777;
  }

  button {
    display: block;
    margin-left: auto;
  }
}

/** DB Viewer **/

main.db-viewer {
  padding: 1rem;

  article {
    margin-bottom: 4rem;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 0.3rem;
  }

  thead td {
    text-align: center;
  }
}

/** New Repo **/

main.new {
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 15rem;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }

    label {
      font-size: 0.9em;
    }

    button {
      align-self: end;
    }
  }
}
