
<main>
  <h1>Trinocular: Home</h1>

  <ul>
    {{#if isAuthenticated}}
      <li><a href="/repos">Repos</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
  
</main>
