
<div class="home-container">

  <nav class="top-nav">
    {{#if isAuthenticated}}
      <span>{{ chooseTruthy user.preferred_username user.name 'User' }}</span>
      <a href="/repos">Repos</a>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </nav>

  <main class="home">

    <div>
      <h1>Trinocular</h1>
      <div>
        {{#if isAuthenticated}}
          View all <a href="/repos">repos</a>
        {{else}}
          <a href="/login">Login</a> to view all repos
        {{/if}}
      </div>
    </div>
    
  </main>

</div>

<footer class="home">
  <div>
    Trinocular
  </div>
  <div>
    <a href="https://reset.inso.tuwien.ac.at/repo/2024ws-ase-pr-group/24ws-ase-pr-qse-07">GitLab</a>
  </div>
</footer>
