
<nav class="top-nav">
  <a href="/repos">Repos</a>
  <div class="spacer"></div>
  <span>{{ chooseTruthy user.preferred_username user.name 'User' }}</span>
  <a href="/logout">Logout</a>
</nav>

<main>

<h1 style="text-align: center">Requested resource not found.</h1>

</main>