

<main class="wait-for-repo centered-boxes-layout">

  <div>
    {{> error-box}}

    <div>Importing Repository {{repoName}}...</div>
    <div>
      Loading GIF
    </div>
    <div>
      {{> repo-wait-status}}
    </div>
  </div>

</main>
