apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: frontend
  name: frontend
  namespace: preymann
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 8082
      targetPort: 80
  selector:
    io.kompose.service: frontend
