apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress
  namespace: preymann
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: "${K8S_DEPLOY_HOSTNAME}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nginx
                port:
                  number: 80
