apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: keycloak
  name: keycloak
  namespace: preymann
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 9000
      targetPort: 8080
  selector:
    io.kompose.service: keycloak
