apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    io.kompose.service: postgres
  name: postgres
  namespace: preymann
spec:
  replicas: 1
  serviceName: postgres
  selector:
    matchLabels:
      io.kompose.service: postgres
  revisionHistoryLimit: 2
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - name: postgres
          image: $CI_MIRROR_REGISTRY/postgres:18-alpine
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: src-postgres--env
          resources:
            requests:
              memory: "200Mi"
              cpu: "100m"
              ephemeral-storage: "100Mi"
            limits:
              memory: "300Mi"
              cpu: "500m"
              ephemeral-storage: "100Mi"
          ports:
            - containerPort: 5432
          volumeMounts:
            - mountPath: /run/secrets/postgres_secret
              name: postgres-secret
              subPath: postgres-secret
            - mountPath: /var/lib/postgresql
              name: postgres-data
      restartPolicy: Always
      volumes:
        - name: postgres-secret
          secret:
            items:
              - key: postgres-secret
                path: postgres-secret
            secretName: postgres-secret
      imagePullSecrets:
        - name: secret-dockercfg
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
        labels:
          io.kompose.service: postgres-data
      spec:
        storageClassName: rook-cephfs
        resources:
          requests:
            storage: 250Mi
        accessModes:
        - ReadWriteOnce



