apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: visualization-time-spent
  name: visualization-time-spent
  namespace: preymann
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 80
      targetPort: 80
  selector:
    io.kompose.service: visualization-time-spent
