<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trinocular</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/logo.svg" sizes="any" type="image/svg+xml">
    {{#if scriptSource}}
        <script src="{{scriptSource}}" type="module" defer></script>
    {{/if}}
</head>
<body>

    {{{body}}}

</body>
</html>
