body {
  font-family: sans-serif;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: darkblue;
}

.axis-label {
  font-size: 16px;
}

#chart-top {
  width: 100%;
  height: 40vh;
}

#chart-bottom {
  width: 100%;
  height: 40vh;
}

.vis-title, .vis-subtitle {
  text-align: center;
}

.vis-title {
  margin-bottom: 15px;
}

.vis-subtitle {
  margin-top: 0px;
}

#vis-bottom-subtitle, #chart-bottom {
  display: none;
}
